<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Facebook Test Suite">
	<test name="Facebook Test">
		<parameter name="browserName" value="Chrome" />

		<classes>

			<class name="com.dragon.test.FacebookTest" />



		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
